<button mat-button>Tablero</button>
<hr />
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="catalogs">
      <mat-icon aria-hidden="false" aria-label="Menu de Catálogos" fontIcon="business_center"></mat-icon>
      Catálogos
    </button>
    <button mat-raised-button color="primary" routerLink="process">
      <mat-icon aria-hidden="false" aria-label="Menu de Proceso" fontIcon="local_shipping"></mat-icon>
      Proceso
    </button>
  </mat-card-content>
</mat-card>