<button mat-button routerLink="../">Tablero</button> > <button mat-button>Catálogos</button>
<hr />
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="../">
      <mat-icon aria-hidden="false" aria-label="Regresar al tablero" fontIcon="chevron_left"></mat-icon>
      Regresar
    </button> 
    <button mat-raised-button color="primary" routerLink="companies">
      <mat-icon aria-hidden="false" aria-label="Catalogo de companias" fontIcon="business"></mat-icon>
      Compañías
    </button>
    <button mat-raised-button color="primary" routerLink="tariffs">
      <mat-icon aria-hidden="false" aria-label="Catalogo de fracciones arancelarias" fontIcon="device_hub"></mat-icon>
      Fracciones Arancelarias
    </button>
  </mat-card-content>
</mat-card>