<mat-toolbar color="primary">
  <div class="nav-container">
    <div>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>MAINCAS</span>
    </div>
    <div style="text-align: right;">
      <span>nombre de usuario</span>
      <button style="float: right;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item routerLink="/">
          <mat-icon>logout</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="catalogs" routerLinkActive="active-link">Catálogos</mat-list-item>
      <mat-list-item role="listitem" routerLink="process" routerLinkActive="active-link">Proceso</mat-list-item>
      <mat-list-item role="listitem">Informes</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>