.nav-container
  display: grid
  grid-template-columns: 80% 20%
  width: 100%

.mat-drawer-content
  height: 80vh
  padding: 1rem

.active-link
  background-color: silver

.profile-image
  width: 30px 
  height: 30px
  margin-top:8px
.clip-circle 
  clip-path: circle(15px at center)