<button mat-button routerLink="../../../">Tablero</button> > <button mat-button routerLink="../../">Catálogos</button> >
<button mat-button routerLink="../">Compañías</button> > <button mat-button>Nuevo</button>
<hr />
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="../">
      <mat-icon aria-hidden="false" aria-label="Regresar al menu de Compañías" fontIcon="chevron_left"></mat-icon>
      Regresar
    </button>
    <button (click)="addCompany()" mat-raised-button color="accent">
      <mat-icon aria-hidden="false" aria-label="Guardar cambios" fontIcon="archive"></mat-icon>
      Guardar
    </button>
  </mat-card-content>
</mat-card>
<br />
<mat-card>
  <mat-card-content>
    <h1>Nueva Compañía</h1>
    <br />
    <form [formGroup]="companyForm">
      <mat-form-field class="half-width" style="width:48%">
        <mat-label>Alias</mat-label>
        <input type="text" formControlName="alias" matInput placeholder="Ex. Acme Tijuana" />
        <mat-hint>Nombre corto y único para encontrar compañía</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-left:8px;width:50%">
        <mat-label>Nombre</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Ex. Acme S.A. de C.V." />
        <mat-hint>Nombre legal de la compañía</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Domicilio - Calle y Num</mat-label>
        <input formControlName="addressLineOne" type="text" matInput placeholder="Domicilio" />
        <mat-hint>Calle y numero int/ext</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Domicilio - Colonia</mat-label>
        <input formControlName="addressLineTwo" type="text" matInput placeholder="Colonia o apartado" />
        <mat-hint>Colonia o Apartado</mat-hint>
      </mat-form-field>
      <mat-form-field style="width:24%">
        <mat-label>País</mat-label>
        <input formControlName="addressCountry" type="text" matInput placeholder="País" />
        <mat-hint>País</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-left:8px;width:24%">
        <mat-label>Ciudad</mat-label>
        <input formControlName="addressCity" type="text" matInput placeholder="Ciudad" />
        <mat-hint>Ciudad</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-left:8px;width:24%">
        <mat-label>Estado</mat-label>
        <input formControlName="addressState" type="text" matInput placeholder="Estado" />
        <mat-hint>Estado</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-left:8px;width:24%">
        <mat-label>C. Postal</mat-label>
        <input formControlName="addressZip" type="text" matInput placeholder="C. Postal" />
        <mat-hint>C. Postal</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-left:8px;width:48%">
        <mat-label>Facultades</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option *ngFor="let role of rolesList" [value]="role">{{role}}</mat-option>
        </mat-select>
        <mat-hint>Roles, Facultades o tipo de compañía</mat-hint>
      </mat-form-field>
      <section class="checkbox-section">
        <mat-checkbox formControlName="block" color="warn">Bloqueo</mat-checkbox>
      </section>
    </form>
  </mat-card-content>
</mat-card>