<button mat-button routerLink="../../../">Tablero</button> > <button mat-button routerLink="../../">Catálogos</button> > <button mat-button routerLink="../">Compañías</button> > <button mat-button>Nuevo</button>
<hr />
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="../">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_left"></mat-icon>
      Regresar
    </button>
    <button mat-raised-button color="accent">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="archive"></mat-icon>
      Guardar
    </button>
  </mat-card-content>
</mat-card>
