<button mat-button routerLink="../../">Tablero</button> > <button mat-button routerLink="../">Proceso</button> >
<button mat-button>Ordenes de trabajo y recolección</button>
<hr />
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="../">
      <mat-icon aria-hidden="false" aria-label="Regresar al diagrama de proceso" fontIcon="chevron_left"></mat-icon>
      Regresar
    </button>
    <button mat-raised-button color="accent" routerLink="new">
      <mat-icon aria-hidden="false" aria-label="Agregar orden de trabajo" fontIcon="plus_one"></mat-icon>
      Nuevo
    </button>
  </mat-card-content>
</mat-card>
<hr />
<mat-card>
  <mat-card-content>
  </mat-card-content>
</mat-card>