<mat-label routerLink="/dashboard">Home</mat-label> / Add Form
<hr />
<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter name</mat-label>
        <input type="text" matInput placeholder="Enter name" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Enter description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>